@import './scrollbar.css';


.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto !important;
	max-width: 22vh !important;
}

.h2-title {
    font-size: 24pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.h3-title {
    text-align: center;
    font-size: 18pt;
    text-transform: uppercase;
}

.separator {
    width: 40%;
    color: rgb(250, 250, 250);
}

.error {
    background-color: rgb(196, 9, 9);
    margin: 2%;
    padding: 2%;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
}

.text {
    font-size: 14pt;
    text-align: justify;
    margin-left: 2%;
}

.h2-icon {
    font-size: 48pt;
    text-align: center;
}

/* HOME */
.home-title {
    color: rgb(0, 0, 0);
}

.home-icon {
    color: rgb(158, 132, 116);
}

#home-section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.home-h1-title {
    color: white;
}

.home-h2-title {
    color: white;
}

/* CONNEXION */
.modal-overlay {
    background: #fff;
}
