@import './scrollbar.css';




.h2-title {
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.h3-title {
    text-align: center;
    font-size: 18pt;
    text-transform: uppercase;
}

.separator {
    width: 40%;
    color: rgb(250, 250, 250);
}

.error {
    background-color: rgb(196, 9, 9);
    margin: 2%;
    padding: 2%;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
}

.text {
    font-size: 12pt;
    text-align: justify;
    margin-left: 2%;
}

.link {
    font-size: 12pt;
}

.btn {
    background-color: rgb(0, 150, 136);
}

.parallax img {
    display: inline;
}

/* NAV */
nav {
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
}

.nav-wrapper > div > a {
    color: black;
}

.nav-wrapper > div > ul > li > a {
    color: black;
}

.nav-wrapper > div > ul > li > a:hover {
    background-color: rgb(0, 150, 136);
    color: white;
}

/* HOME */
.home-title {
    color: rgb(0, 0, 0);
}

.home-icon {
    color: rgb(158, 132, 116);
}

#home-section {
    padding-top: 5%;
    padding-bottom: 5%;
}

.home-h1-title {
    color: white;
}

.home-h2-title {
    color: white;
}

/* CONNEXION */
.modal-overlay {
    background: #fff;
}

/* FOOTER */
.footer {
    background-color: rgb(0, 150, 136);
    margin: 0;
}

.footer-title {
    color: rgb(255, 255, 255);
    text-align: left;
}

.footer-text {
    color: rgb(255, 255, 255);
    margin: 0;
}

.footer-link {
    color: rgb(255, 255, 255);
}

.footer-link:hover {
    color: rgb(255, 255, 255);
}