:root{
    --violet-clair: #6A779C;
    --violet-fonce: #464471;
    --jaune-clair: #FDB832;
    --blanc: #FFFEFC;
    --gris: #818D99;
    --jaune-fonce: #D8992C;
    --gris-pale: #E5E0DB;
    --jaune-pale: #DAC09A;
    --noir: #292727;
}